<div>
  <Header title="Egoditor GmbH" />
  <main class="container pt-5">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-5">
        <div class="card">
          <div class="card-body">
            <Loading
              v-show="enableLoading"
            />
            <h4>{{ $tc('Information') }}</h4>
            <div class="row mb-4 pl-2 pr-2">
              <div class="col-12 col-lg-4 pl-1 pr-1">
                <Box
                  v-bind:title="$tc('CUSTOMER ID')"
                  v-bind:face="modelUser.id"
                  classname="bx-info"
                />
              </div>
              <div class="col-12 col-lg-4 pl-1 pr-1">
                <Box
                  v-bind:title="$tc('SIGNUP DATE')"
                  v-bind:face="modelUser.created_at"
                  classname="bx-info"
                />
              </div>
              <div class="col-12 col-lg-4 pl-1 pr-1">
                <Box
                  v-bind:title="$tc('Account')"
                  v-bind:face="$tc(modelUser.account_type)"
                  classname="bx-info"
                />
              </div>
              <div class="col-12 col-md-12 pl-1 pr-1">
                <Box
                  v-bind:title="$tc('LOGIN EMAIL')"
                  v-bind:face="modelUser.email"
                  classname="bx-info bx-info-complex"
                >
                  <div class="btn-group btn-group-sm btn-group-vertical">
                    <button class="btn btn-xs">{{ $tc('Password') }}</button>
                    <button class="btn btn-xs">{{ $tc('Change Email') }}</button>
                  </div>
                </Box>
              </div>
            </div>
            <h4>{{ $tc('Primary Contact') }}</h4>
            <p>{{ $tc('Please provide your contact information below.') }}</p>
            <form
              class="form-contact mt-4"
              @submit.prevent="handleSubmit"
            >
              <FormulateInput
                type="text"
                name="firstname"
                v-bind:label="$tc('First Name')"
                validation="bail|required"
                v-bind:validation-name="$tc('First Name')"
                placeholder="shayan"
                v-model="modelUser.first_name"
              />
              <FormulateInput
                type="text"
                name="lastname"
                v-bind:label="$tc('Last Name')"
                validation="bail|required"
                v-bind:validation-name="$tc('Last Name')"
                placeholder="yazdanpanah"
                v-model="modelUser.last_name"
              />
              <FormulateInput
                type="text"
                name="phonenumber"
                v-bind:label="$tc('Phone Number')"
                validation="bail|required"
                v-bind:validation-name="$tc('Phone Number')"
                placeholder="+0123456"
                v-model="modelUser.phone_number"
              />
              <FormulateInput
                type="text"
                name="company"
                v-bind:label="$tc('Company')"
                validation="bail|required"
                v-bind:validation-name="$tc('Company')"
                placeholder="Egoditor GmbH"
                v-model="modelUser.company"
              />
              <FormulateInput
                type="text"
                name="street"
                v-bind:label="$tc('Street')"
                validation="bail|required"
                v-bind:validation-name="$tc('Street')"
                placeholder="Apartment, studio, or floor"
                v-model="modelUser.street"
              />

              <div class="form-row">
                <div class="col-md-8">
                  <FormulateInput
                    type="text"
                    name="city"
                    v-bind:label="$tc('City')"
                    validation="bail|required"
                    v-bind:validation-name="$tc('City')"
                    placeholder="Shiraz"
                    v-model="modelUser.city"
                  />
                </div>
                <div class="col-md-4">
                  <FormulateInput
                    type="text"
                    name="zipcode"
                    v-bind:label="$tc('Zip Code')"
                    validation="bail|required"
                    v-bind:validation-name="$tc('Zip Code')"
                    placeholder="123456"
                    v-model="modelUser.zipcode"
                  />
                </div>
              </div>
              <FormulateInput
                type="select"
                name="country"
                v-bind:label="$tc('Country')"
                :options="{Germany: 'Germany', Netherland: 'Netherland', Spain: 'Spain'}"
                placeholder="Select a country"
                v-model="modelUser.country"
              />
              <FormulateInput
                type="text"
                name="website"
                v-bind:label="$tc('Website')"
                validation="bail|required"
                v-bind:validation-name="$tc('Website')"
                placeholder="www.your-website.com"
                v-model="modelUser.website"
              />
              <div class="form-group text-right mb-0">
                <button type="submit" class="btn rounded-pill pl-3 pr-3">
                  {{ $tc('SAVE') }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-7">
        <div class="row mb-3">
          <div class="col">
            <h4>{{ $tc('Usage') }}</h4>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-6 col-xl-3 mb-4">
            <Box
              v-bind:title="$tc('SCANS')"
              v-bind:face="modelPlan.scan"
              classname="bx-statics"
            >
              <span>/</span>
              <em>{{ $tc(modelPlan.scan_max) }}</em>
              <button class="btn btn-xs">{{ $tc('UPGRADE') }}</button>
            </Box>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 mb-4">
            <Box
              v-bind:title="$tc('DYNAMIC CODES')"
              v-bind:face="modelPlan.dynamic_code"
              classname="bx-statics"
            >
              <span>/</span>
              <em>{{modelPlan.dynamic_code}}</em>
              <button class="btn btn-xs">{{ $tc('UPGRADE') }}</button>
            </Box>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 mb-4">
            <Box
              v-bind:title="$tc('STATIC CODES')"
              v-bind:face="modelPlan.static_code"
              classname="bx-statics"
            >
              <span>/</span>
              <em>{{modelPlan.static_code_max}}</em>
              <button class="btn btn-xs">{{ $tc('UPGRADE') }}</button>
            </Box>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 mb-4">
            <Box
              v-bind:title="$tc('USERS')"
              v-bind:face="modelPlan.user"
              classname="bx-statics"
            >
              <span>/</span>
              <em>{{modelPlan.user_max}}</em>
              <button class="btn btn-xs">{{ $tc('UPGRADE') }}</button>
            </Box>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <h4>{{ $tc('Who are you?') }}</h4>
            <p>{{ $tc('For the best possible experience, please let us know who you are') }}</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-md-6 col-mdlg">
            <BoxIcon
              icon="far fa-briefcase"
              v-bind:title="$tc('BUSINESS')"
            />
          </div>
          <div class="col-12 col-md-6 col-mdlg">
            <BoxIcon
              icon="far fa-store"
              v-bind:title="$tc('AGENCY')"
            />
          </div>
          <div class="col-12 col-md-6 col-mdlg">
            <BoxIcon
              icon="far fa-hand-holding-heart"
              v-bind:title="$tc('NONPROFIT')"
            />
          </div>
          <div class="col-12 col-md-6 col-mdlg">
            <BoxIcon
              icon="far fa-graduation-cap"
              v-bind:title="$tc('EDUCATIONAL')"
            />
          </div>
          <div class="col-12 col-md-6 col-mdlg">
            <BoxIcon
              icon="far fa-user"
              v-bind:title="$tc('PRIVATE')"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</div>